* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.btn-wrapper {
  display: flex;
  gap: 20px;
}

.btn {
  width: 150px;
  height: 50px;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  border-radius: 10px;
  background-color: green;
}

.btn-stop {
  background-color: red;
}

.btn:disabled {
  background-color: grey;
}

.input-wrap {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.time-input {
  height: 25px;
  border-radius: 5px;
  border: 2px solid rgb(39, 39, 39);
  color: rgb(39, 39, 39);
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}

.start-btn {
  border-radius: 5px;
  width: 100px;
  background-color: rgb(255, 102, 0);
  color: rgb(39, 39, 39);
}

.start-btn:hover {
  background-color: rgb(172, 69, 0);
}

.start-btn:disabled {
  background-color: grey;
}

.timer {
  display: flex;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  gap: 25px;
  background-color: aquamarine;
  justify-content: center;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-weight: 700;
  font-size: 54px;
}

.label {
  font-size: 34px;
}

.task__title {
  display: flex;
  text-align: center;
  font-size: 28px;
  justify-content: center;
  background-color: black;
  color: #ffffff;
  padding: 15px;
}

.task__list {
  display: flex;
  flex-direction: row;
  background-color: #a8a8a8;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 30px;
}

.task__item {
  list-style: none;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  width: 300px;
  background-color: #ff6b0a;
  transition: background-color 250ms;
}

.task__item:hover,
.task__item:focus {
  background-color: black;
}

.task__link {
  display: block;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 24px;
  color: #212121;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: color 250ms;
}

.task__link:hover,
.task__link:focus {
  color: #ffffff;
}
